* {
  margin: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #fff8f5;
}
::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #f95607;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #fff8f5;
}

body {
  /* cursor: url("./images/cursor.png"), auto; */
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.greenColor {
  color: green !important;
}
.redColor {
  color: red !important;
}

/* admin dashboard table css */
.Table {
  padding: 0 20px;
}

.Table > Thead > Tr > Th {
  border: 2px solid #527edc;
  padding: 10px;
}

.Table > Tbody > Tr > Td {
  border: 1px solid #527edc;
  padding: 5px 10px;
  transition: all 0.4s ease-in-out;
}
.Table > Tbody > Tr > Td:hover {
  font-weight: bold;
  color: white;

  background-color: gray;
}
